/*
Styles for the main page containing all of the business cards
*/

.app
{
    display: block;
   
}

a:link
{
    color: white;
}

a:visited
{
    color: white;
}

#info
{
    text-align: center;
    color: white;
}

#business-cards
{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    margin: 10px;
}

#business-cards *
{
    margin: 10px 10px 3px 3px;
}
